/*****************************************
CSS stylesheet for Blooskyn Tattoo website
-> base stylesheet
*****************************************/

/******************************************
* Titles: font-family: 'Lobster', cursive;
* Texts: font-family: 'Roboto', sans-serif;
******************************************/


/* || General styles */
* {
  box-sizing: border-box;
}
body {
  margin: 20px 0;
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
h1 {
  margin: 0;
  font-family: 'Lobster', cursive;
}
ul {
  list-style-type: none;
}
.content-wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1600px;
}

/* || Top bar */
.top-bar {
  display: inline-flex;
  width:100%;
  justify-content: flex-end;
}
.top-bar select {
  flex: 0 0 auto;
}

/* || Navigation bar */
.flex-container-header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  background-color: rgb(42, 42, 42);
}
header h1 {
  flex: 0 0 auto;
  color: #fff;
  margin-left: 10px;
  line-height: 1.5;
}
nav {
  flex: 1 1 auto;
}
.flex-container-nav {
  padding: 0;
  margin: 0;    
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-flow: wrap;
}
.flex-container-nav li {
  flex: 0 0 auto;
}
.flex-container-nav a {
  margin: 0 10px;
  padding: 0 20px;
  font-size: x-large;
  display: flex;
  align-items: center;
  height: 100%;
}

/* || Top image */
.top-image {
  height: 400px;
}
.top-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

