/*****************************************
CSS stylesheet for Blooskyn Tattoo website
-> base stylesheet
*****************************************/

/******************************************
* Titles: font-family: 'Lobster', cursive;
* Texts: font-family: 'Roboto', sans-serif;
******************************************/


/* || General styles */
body {
  margin: 20px 0;
  background-color: #313131;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
h1 {
  margin: 0;
  font-family: 'Lobster', cursive;
}
ul {
  list-style-type: none;
}
.content-wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
}

/* || Navigation bar */
.flex-container-header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
header h1 {
  flex: 0 0 auto;
  color: #fff
}
nav {
  flex: 1 1 auto;
}
.flex-container-nav {
  padding: 0;
  margin: 0;    
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-flow: wrap;
}
nav li {
  flex: 0 0 auto;
}
nav a {
  margin: 0 10px;
  padding: 0 20px;
  font-size: x-large;
}


