<!DOCTYPE html>
<html lang="{{ _('en') }}">
  <head>
    {% block meta %}
      <meta charset="UTF-8">
      <meta name="application-name" content="Blooskyn Tattoo">
      <meta name="author" content="Clément Bonnet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    {% block title %}{% endblock %}
    <!-- analytics script -->
    {% block analytics %}{% endblock %}
    <!-- stylesheets -->
    {% block stylesheet %}
      <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">
    {% endblock %}
    <!-- icons -->
    <link href="{{ url_for('static', filename='ico/apple-touch-icon.png') }}" rel="apple-touch-icon" sizes="180x180">
    <link href="{{ url_for('static', filename='ico/favicon-32x32.png') }}" rel="icon" type="image/png" sizes="32x32">
    <link href="{{ url_for('static', filename='ico/favicon-16x16.png') }}" rel="icon" type="image/png" sizes="16x16">
    <script src="https://kit.fontawesome.com/275c924d1c.js" crossorigin="anonymous"></script>
    <!-- web app manifest -->
    <!-- <link href="/manifest.webmanifest" rel="manifest"> -->
  </head>
  <body>
    <header>
      <div class="top-bar">
        <div class="content-wrapper flex-end">
          <select name="language-selector" onchange="location={{ url_for('set_language', language='') }} + this.value;">
          {% for lang, language in config["LANGUAGES"].items() %}
            <option lang="{{ lang }}" value="{{ lang }}" {{ 'selected' if session.get('language')==lang else '' }}>{{ language }}</option>
          {% endfor %}
          </select>
          <a href="https://www.facebook.com/blooskyn" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/blooskyn_tattoo/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="top-header">
        <div class="content-wrapper">
          <h1>Blooskyn Tattoo</h1>
          <nav>
            <ul class="flex-container-nav">
              <li><a href="{{ url_for('gallery') }}">{{ _("Gallery") }}</a></li>
              <li><a href="{{ url_for('form') }}">{{ _("Form") }}</a></li>
            </ul>
          </nav>
        </div>
      </div>
      {% block header %}{% endblock %}
    </header>
    <main class="content-wrapper">
      {% block main %}{% endblock %}

    </main>
    <footer class="content-wrapper">

    </footer>
  </body>
</html>