<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {% block meta %}
        <meta charset="UTF-8">
        <meta name="application-name" content="Blooskyn Tattoo">
        <meta name="author" content="Clément Bonnet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% endblock %}
      {% block title %}{% endblock %}
      <!-- analytics script -->
      {% block analytics %}{% endblock %}

      <!-- stylesheets -->
      {% block stylesheet %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap">
      {% endblock %}
    {% endblock %}
  </head>
  <body>
    <header class="content-wrapper">
      <div class="top-bar">
        <select name="language">
          <option lang="en" value="EN">English</option>
          <option lang="fr" value="FR">Français</option>
        </select>
      </div>
      <div class="flex-container-header">
        <h1>Blooskyn Tattoo</h1>
        <nav>
          <ul class="flex-container-nav">
            <li><a href="">Home</a></li>
            <li><a href="">About Me</a></li>
          </ul>
        </nav>
      </div>
      <div class="top-image">
        <img 
          srcset="{{ url_for('static', filename='img/640_kristian-angelo-xyJZvUL4_TY-unsplash.jpg') }} 640w,
                  {{ url_for('static', filename='img/1920_kristian-angelo-xyJZvUL4_TY-unsplash.jpg') }} 1920w,
                  {{ url_for('static', filename='img/2400_kristian-angelo-xyJZvUL4_TY-unsplash.jpg') }} 2400w,
                  {{ url_for('static', filename='img/3936_kristian-angelo-xyJZvUL4_TY-unsplash.jpg') }} 3936w"
          sizes=" (max-width: 800px) 640px,
                  (max-width: 2400px) 1920px,
                  (max-width: 3000px) 2400px,
                  3936px"
          src="{{ url_for('static', filename='img/2400_kristian-angelo-xyJZvUL4_TY-unsplash.jpg') }}"
          alt="Professional giving a tattoo in black and white">
      </div>
    </header>
    <main class="content-wrapper">
      {% block main %}{% endblock %}

    </main>
    <footer class="content-wrapper">

    </footer>
  </body>
</html>