{% extends "base.html" %}

{% block meta %}
  {{ super() }}
  <meta name="keywords" content="blooskyn, tattoo, clara, tonnele, verjus, drawing">
  <meta name="description" content="{{ _('Personal website of Clara Tonnelé-Verjus that contains pictures of tattoos she gave.') }}">
{% endblock %}

{% block title %}
  <title>{{ _("Blooskyn Tattoo, Portfolio of Clara Tonnelé-Verjus") }}</title>
{% endblock %}

{% block analytics %}
{% endblock %}

{% block stylesheet %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/form.css') }}" rel="stylesheet">
{% endblock %}


{% block main %}
  <section class="about-me">
    <h1>{{ _("Form")}}</h1>
    <p>{{ _("Find some information about me.") }}</p>
  </section>
  <section class="team-presentation">
    <article class="personal-presentation">
      <img 
        srcset="{{ url_for('static', filename='img/about-me/600_woman-holding-disposable-cup-712513.jpg') }} 600w,
                {{ url_for('static', filename='img/about-me/1000_woman-holding-disposable-cup-712513.jpg') }} 1000w,
                {{ url_for('static', filename='img/about-me/1500_woman-holding-disposable-cup-712513.jpg') }} 1500w,
                {{ url_for('static', filename='img/about-me/2370_woman-holding-disposable-cup-712513.jpg') }} 2370w"
        sizes=" (max-width: 800px) 640px,
                (max-width: 2400px) 1920px,
                (max-width: 3000px) 2400px,
                3936px"
        src="{{ url_for('static', filename='img/about-me/1500_woman-holding-disposable-cup-712513.jpg') }}"
        alt="Clara Tonnelé-Verjus">
      <h2>Clara Tonnelé-Verjus</h2>
      <p>{{ _("Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rhoncus urna
        sed semper feugiat. Donec et elit quis quam luctus dictum. Etiam sollicitudin
        justo eros, non rutrum est dignissim a. Sed dapibus nisl vel sem consectetur
        facilisis. Quisque et pellentesque lectus, vel tristique velit. Integer quis
        eros ut ex varius condimentum. Integer tincidunt est a lectus convallis
        gravida sed eget diam. Sed justo neque, ornare a lectus in, condimentum
        suscipit nulla. Nullam rutrum ornare justo, nec bibendum augue sodales at.
        Donec a mauris sed ex malesuada pretium pellentesque non nulla. Integer ut
        velit elementum, sollicitudin ipsum vel, dapibus orci. Aliquam tempus viverra
        elit a dignissim. In neque tortor, efficitur scelerisque libero ut, pharetra
        scelerisque orci. Integer in magna semper, ultrices nisl quis, tempus erat.") }}
      </p>
    </article>
  </section>
{% endblock %}

